<style>
    .status-buttons {
        display: flex;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .table-container {
        margin-top: 20px;
    }
</style>

<div class="table-container">
  <table>
    <thead>
    <tr>
      <th>Total Price</th>
      <th>Quantity</th>
      <th>Address</th>
      <th>Status</th>
      <th>Date order</th>
      <th>Date receive</th>
    </tr>
    </thead>
    <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= number_to_currency(cart.total_price) %></td>
        <td><%= cart.quantity %></td>
        <td><%= cart.address %></td>
        <td><%= cart.status %></td>
        <td><%= cart.created_at %></td>
        <td><%= cart.deliver_day.present? ? cart.deliver_day : "Not yet" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
