<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Account</title>
  <style>
      .button-container {
          display: flex;
          gap: 10px;
      }
      #account-edit-form {
          display: none;
      }
      #delivery-history-container {
          display: none;
      }
  </style>
</head>
<body>

<div class="jumbotron text-center app-color">
  <h1>Shearwater</h1>
</div>

<nav class="navbar navbar-expand-lg navbar-light app-color topnav" style="margin-top: -10px">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav w-100 justify-content-around">
        <li class="nav-item flex-fill">
          <a class="nav-link" href="<%= users_home_path %>">Home</a>
        </li>

        <li class="nav-item flex-fill">
          <a class="nav-link" href="<%= shop_path %>">Shop</a>
        </li>
        <li class="nav-item flex-fill">
          <a class="nav-link" href="<%= about_us_path %>">About Us</a>
        </li>
        <li class="nav-item active flex-fill">
          <a class="nav-link" href="<%= my_account_path %>">My Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="content">
  <h1>Account Overview</h1>
  <div class="button-container">
    <button id="show-account-management" class="btn btn-primary">Account Management</button>
    <button id="show-delivery-history" class="btn btn-primary">Delivery History</button>
    <%= button_to 'Log Out', logout_path, method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to log out?" } %>
  </div>

  <div id="account-management-container">
    <div id="account-details">
      <%= render 'account_details', account: @account, edit_mode: @edit_mode %>
    </div>

    <div id="account-edit-form">
      <%= render 'account_edit_form', account: @account %>
    </div>
  </div>

  <div id="delivery-history-container">
    <%= render partial: 'delivery_history', account: @account, cart: @cart %>
  </div>
</div>

<!-- Footer -->
<div class="custom-footer">
  <p>&copy; Your satisfaction is our priority</p>
</div>

<script>
    $(document).ready(function() {
        // Cache jQuery selectors
        const $accountDetails = $('#account-details');
        const $accountEditForm = $('#account-edit-form');
        const $deliveryHistoryContainer = $('#delivery-history-container');

        // Event for editing account details
        $('#edit-button').click(function() {
            $accountDetails.hide();
            $accountEditForm.show();
            $deliveryHistoryContainer.hide();
        });

        // Event for showing account management
        $('#show-account-management').click(function() {
            $accountDetails.show();
            $accountEditForm.hide();
            $deliveryHistoryContainer.hide();
        });

        // Event for showing delivery history
        $('#show-delivery-history').click(function() {
            $deliveryHistoryContainer.show();
            $accountDetails.hide();
            $accountEditForm.hide();
        });
    });
</script>
</body>
</html>
