<div class="jumbotron text-center app-color">
  <h1>Promotion Creation</h1>
</div>

<!-- Toggle Buttons -->
<div class="text-center mt-4">
  <button id="toggle-promotion" class="btn btn-secondary">Create Promotion</button>
  <button id="toggle-merchandise" class="btn btn-secondary">Create Merchandise</button>
</div>


<div class="form-box" id="promotion-form"> <!-- Added id here -->
  <h3>Create a New Promotion</h3>

  <%= form_with model: @promotion, url: promotions_path, method: :post, local: true do |form| %>
    <div class="mb-3">
      <%= form.label :promote_code, "Promotion Code" %>
      <%= form.text_field :promote_code, class: "form-input" %>
    </div>

    <div class="mb-3">
      <%= form.label :promotion_type, "Promotion Type" %>
      <%= form.select :promotion_type, [['Product', 'product'], ['Category', 'category'], ['Cart', 'cart'], ['Free Product', 'free_product']], {}, class: "form-input", id: "promotion-type" %>
    </div>

    <div id="apply-field-section" class="mb-3">
      <%= form.label :apply_field, "Apply Field" %>
      <%= form.select :apply_field, [], {}, class: "form-input", id: "apply-field" %>
    </div>

    <div class="mb-3">
      <%= form.label :value, "Value" %>
      <%= form.number_field :value, class: "form-input" %>
    </div>

    <div class="mb-3">
      <%= form.label :end_date, "End Date" %>
      <%= form.date_field :end_date, class: "form-input" %>
    </div>

    <div class="mb-3">
      <%= form.label :min_quantity, "Minimum Quantity (optional)" %>
      <%= form.number_field :min_quantity, class: "form-input", value: 0 %>
    </div>

    <%= form.submit 'Create Promotion', class: 'btn btn-primary form-submit' %>
  <% end %>
</div>

<div class="form-box" id="merchandise-form" style="display:none;"> <!-- Added id and set to hide by default -->
  <h3>Create a New Merchandise</h3>

  <%= form_with model: @merchandise, url: merchandises_path, method: :post, local: true do |form| %>
    <div class="mb-3">
      <%= form.label :product_id, "Product" %>
      <%= form.collection_select :product_id, Product.all, :id, :name, { prompt: 'Select a Product' }, class: "form-input" %>
    </div>

    <div class="mb-3">
      <%= form.label :cut_off_value, "Cut Off Value" %>
      <%= form.number_field :cut_off_value, class: "form-input" %>
    </div>

    <div class="mb-3">
      <%= form.label :promotion_end, "Promotion End Date" %>
      <%= form.date_field :promotion_end, class: "form-input" %>
    </div>

    <%= form.submit 'Create Merchandise', class: 'btn btn-primary form-submit' %>
  <% end %>
</div>


<footer class="custom-footer py-4 app-color">
  <h1 class="text-center">Admin Interface</h1>
</footer>

<%= javascript_include_tag 'views/promotion/promotion_merchandise_toggle' %>
<script>
    window.productsData = <%= raw Product.all.to_json %>;
</script>
