.jumbotron.text-center.app-color
  %h1 Account management
.my-3.text-start
  = link_to 'Back to Products', products_path, class: 'btn btn-success'
.d-flex.justify-content-center.align-items-center.vh-100.app-color.p-4.rounded
  .w-100{:style => "max-width: 600px;"}
    = form_with model: @product, url: product_path(@product), method: :patch, local: true do |form|
      %ul.list-unstyled
        %li.mb-3.d-flex.align-items-center
          %strong.flex-shrink-0.me-3 Name:
          = form.text_field :name, class: 'form-control flex-grow-1'
        %li.mb-3.d-flex.align-items-center
          %strong.flex-shrink-0.me-3 Price:
          = form.text_field :prices, class: 'form-control flex-grow-1'
        %li.mb-3.d-flex.align-items-center
          = form.label :product_type, "Product Type", class: 'fw-bold me-3'
          = form.select :product_type, options_for_select(@categories, @product.product_type), {}, id: 'product_type', class: 'form-select flex-grow-1'
        %li.mb-3.d-flex.align-items-center
          %strong.flex-shrink-0.me-3 Description:
          = form.text_area :desc, class: 'form-control flex-grow-1'
        %li.mb-3.d-flex.align-items-center
          %strong.flex-shrink-0.me-3 Stock:
          = form.number_field :stock, class: 'form-control flex-grow-1'
        %li.mb-3.d-flex.flex-wrap.align-items-start
          %strong.flex-shrink-0.me-3 Picture:
          .flex-grow-1
            = form.text_field :picture, id: 'picture_url', class: 'form-control mb-2'
            %button#show_picture.btn.btn-secondary{:type => "button"} Show Picture
            #picture_container.mt-3{:style => "max-height: 200px; overflow: auto;"}
      .text-center
        = form.submit 'Save', class: 'btn btn-success'
%footer.custom-footer.py-4.app-color
  %h1.text-center Admin Interface
= javascript_include_tag 'views/product/preview_picture'
