.custom-header
  %h1 New Product
/ Buttons to toggle between forms
%div{:style => "margin-bottom: 20px; text-align: center; width: 100%;"}
  %button#createBtn{:onclick => "toggleForms('create')", :style => "margin-right: 10px;"} Create Product
  %button#importBtn{:onclick => "toggleForms('import')"} Import Products
/ Forms container with white background
%div{:style => "background-color: white; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px\n    rgba(0, 0, 0, 0.1); width: 100%; max-width: 600px; margin-top: 30px"}
  / Create Product Form
  #createForm.form-container{:style => "display: block; text-align: center"}
    = form_with model: @product, local: true do |form|
      - if @product.errors.any?
        #error_explanation{:style => "color: red;"}
          %h2
            = pluralize(@product.errors.count, "error")
            prohibited this product from being saved:
          %ul
            - @product.errors.full_messages.each do |message|
              %li= message
      %div{:style => "display: flex; align-items: center; margin-bottom: 10px;"}
        = form.label :name, "Name", style: "font-weight: bold; margin-right: 10px;"
        = form.text_field :name, id: 'product_name'
      %div{:style => "display: flex; align-items: center; margin-bottom: 10px;"}
        = form.label :prices, "Price", style: "font-weight: bold; margin-right: 10px;"
        = form.number_field :prices, step: :any, id: 'product_price'
      %div{:style => "display: flex; align-items: center; margin-bottom: 10px;"}
        = form.label :product_type, "Product Type", style: "font-weight: bold; margin-right: 10px;"
        = form.select :product_type, options_for_select(@categories), {}, id: 'product_type'
      %div{:style => "margin-top: 20px; text-align: center;"}
        = form.submit 'Create Product', style: 'background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; border: none; cursor: pointer;'
  / Import Products Form
  #importForm.form-container{:style => "display: none; text-align: center;"}
    = form_with url: import_products_path, local: true, multipart: true do |form|
      %div{:style => "display: flex; align-items: center; margin-bottom: 10px;"}
        = form.label :file, "Upload ODS File", style: "font-weight: bold; margin-right: 10px;"
        = form.file_field :file, id: 'product_file'
      %div{:style => "margin-top: 20px; text-align: center;"}
        = form.submit 'Import Products', style: 'background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; border: none; cursor: pointer;'
.custom-footer{:style => "margin-top: 520px"}
  %h1 This is a test product
= javascript_include_tag 'views/product/create_toggle'
