.jumbotron.text-center.app-color
  %h1 Account Management
.mt-4.mb-4.text-start
  = link_to 'Back to Products', products_path, class: 'btn btn-success'
.d-flex.justify-content-center.mt-4
  %table.table.table-bordered.table-striped.app-color.text-start
    %tr
      %td.p-3{:rowspan => "3"}
        - if @product.picture_file.present?
          = image_tag(@product.picture_file.url, alt: 'Product Picture from File', class: 'img-fluid', style: 'max-width: 200px; max-height: 200px;')
        - elsif @product.picture.present?
          = image_tag(@product.picture, alt: 'Product Picture from URL', class: 'img-fluid', style: 'max-width: 200px; max-height: 200px;')
        - else
          %span No picture available
      %td.fw-bold.p-3 Name:
      %td.p-3= @product.name.presence || " "
      %td.fw-bold.p-3 Price:
      %td.p-3= number_to_currency(@product.prices).presence || " "
    %tr
      %td.fw-bold.p-3 Type:
      %td.p-3= @product.product_type.presence || " "
      %td.fw-bold.p-3 Stock:
      %td.p-3= @product.stock.presence || " "
    %tr
      %td.fw-bold.p-3 Description:
      %td.p-3{:colspan => "3"}= @product.desc.presence || " "
.mt-4.text-center
  = link_to 'Edit', edit_product_path(@product), class: 'btn btn-success'
/ Promotions Table
.mt-4
  %h2 Related Coupon
  - if @promotions.any?
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Promotion Code
          %th Value
          %th End Date
          %th Min Quantity
      %tbody
        - @promotions.each do |promotion|
          %tr
            %td= promotion.promote_code
            %td= number_to_currency(promotion.value)
            %td= promotion.end_date.present? ? promotion.end_date.strftime("%B %d, %Y") : "N/A"
            %td= promotion.min_quantity
  - else
    %p No promotions available for this product.
/ Merchandise Table
.table-responsive.mt-5.text-center
  %h2 Merchandise List
  - if @promotions.any?
    %table.table.table-striped.table-hover
      %thead.table-dark
        %tr
          %th{:scope => "col"} Discount Price
          %th{:scope => "col"} Promotion End
          %th{:scope => "col"} Sold Merchandise
      %tbody
        - @merchandises.each do |merchandise|
          %tr
            %td= number_to_currency(merchandise.product.prices * (1 - (merchandise.cut_off_value / 100.0)))
            %td= merchandise.promotion_end.present? ? merchandise.promotion_end.strftime("%Y-%m-%d") : 'N/A'
            %td= @sold_quantities[merchandise.id] # Display sold merchandise quantity from the hash
  - else
    %p No promotions available for this product.
%footer.custom-footer.py-4.app-color
  %h1.text-center Admin Interface
