<!DOCTYPE html>
<html>
<head>
  <title>Shearwater</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag asset_path('web_icon.png') %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <%= javascript_importmap_tags %>
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/chart.js' %>
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/chartkick@3.1.0/chartkick.js' %>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Bootstrap 5 CSS CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <%= javascript_include_tag "application", 'data-turbolinks-track': 'reload' %>
</head>

<body>
<!-- Bootstrap 5 JS CDN -->

<%= javascript_tag do %>
  <% if flash[:notice] %>
    alert('<%= j flash[:notice] %>');
  <% end %>

  <% if flash[:alert] %>
    alert('Error: <%= j flash[:alert] %>');
  <% end %>
<% end %>

<%= yield %>
</body>
</html>
