<div class="custom-header">
  <h1>New Account</h1>
</div>

<div style="display: flex; justify-content: center; align-items: center; min-height: calc(100vh - 160px); background-color: lightblue; padding: 20px; border-radius: 10px;">
  <%= form_with model: @account, local: true do |form| %>
    <% if @account.errors.any? %>
      <div id="error_explanation" style="color: red;">
        <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>
        <ul>
          <% @account.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div style="display: flex; align-items: center; margin-bottom: 10px;">
      <%= form.label :username, "Username", style: "font-weight: bold; margin-right: 10px;" %>
      <%= form.text_field :username, id: 'account_username' %>
    </div>

    <div style="display: flex; align-items: center; margin-bottom: 10px;">
      <%= form.label :password, "Password", style: "font-weight: bold; margin-right: 10px;" %>
      <%= form.password_field :password, id: 'account_password' %>
    </div>

    <div style="display: flex; align-items: center; margin-bottom: 10px;">
      <%= form.label :email, "Email", style: "font-weight: bold; margin-right: 10px;" %>
      <%= form.email_field :email, style: 'flex-grow: 1; width: 100%;' %>
    </div>

    <div style="display: flex; align-items: center; margin-bottom: 10px;">
      <%= form.label :is_admin, "Admin", style: "font-weight: bold; margin-right: 10px;" %>
      <%= form.check_box :is_admin, id: 'account_is_admin' %>
    </div>

    <div style="margin-top: 20px; text-align: center;">
      <%= form.submit 'Create Account', style: 'background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; border: none; cursor: pointer;' %>
    </div>
  <% end %>
</div>

<div class="custom-footer">
  <h1>This is a test product</h1>
</div>
