.custom-header
  %h1 Account Details
%div{:style => "margin-top: 20px; margin-bottom: 20px; text-align: left;"}
  - if request.referer && request.referer.include?("/myaccount")
    = link_to 'Back to My account', my_account_path, style: 'background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; border: none;'
  - else
    = link_to 'Back to Accounts', accounts_path, style: 'background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; border: none;'
%br/
%div{:style => "display: flex; justify-content: center; margin-top: 20px;"}
  %table{:style => "background-color: lightblue; border-collapse: collapse; text-align: left;"}
    %tr
      / "Username" and account.username on B1, C1
      %td{:style => "font-weight: bold; padding: 10px;"} Username:
      %td{:style => "padding: 10px;"}= @account.username.presence || " "
      / "Email" and account.email on D1, E1
      %td{:style => "font-weight: bold; padding: 10px;"} Email:
      %td{:style => "padding: 10px;"}= @account.email.presence || " "
    %tr
      / "Phone Number" and account.phonenumber on B2, C2
      %td{:style => "font-weight: bold; padding: 10px;"} Phone Number:
      %td{:style => "padding: 10px;"}= @account.phonenumber.presence || " "
      / "Address" and account.address on D2, E2
      %td{:style => "font-weight: bold; padding: 10px;"} Address:
      %td{:style => "padding: 10px;"}= @account.address.presence || " "
    %tr
      / "Gender" and account.gender on B3, C3
      %td{:style => "font-weight: bold; padding: 10px;"} Gender:
      %td{:style => "padding: 10px;"}= @account.gender.presence || " "
      / "Status" and account.is_admin on D3, E3
      %td{:style => "font-weight: bold; padding: 10px;"} Status:
      %td{:style => "padding: 10px;"}= @account.is_admin ? 'Admin' : 'User'
%div{:style => "margin-top: 20px; margin-bottom: 20px; text-align: center;"}
  = link_to 'Edit', edit_account_path(@account), style: 'background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; border: none;'
.custom-footer
  %h1 This is a test account
